.page{
    font-size: 17px;
    font-family: Arial;
    color: lightgray;
    padding-bottom: 100px;
}
/* Title */
.titleSection{
    padding-top: 100px;
    display: flex;
    color: lightskyblue;
}
.titleGreeting{
    color: lightgray;
}
.titleJob{
    color: darkgray;
}
.titleLinks{
    height: 50px;
    padding-right: 20px;
    color: white
}
.titleLinks:hover{
    color: darkgrey;
}
.titleFloatLeft{
    flex: 0 0 50%;
}
.titleFloatRight{
    flex: 1;
    text-align: center;
}
/* About Me */
.aboutMeTitle{
    padding-top: 50px;
    text-align: center;
    color: lightskyblue;
}
.aboutMe{
    padding-top: 20px;
    display: flex;
}
.aboutFloatLeft{
    flex: 0 0 50%;
}
.aboutFloatRight{
    flex: 1;
    padding-left: 100px;
}
.aboutSkillBar{
    width: 80%;
}
/* Experience */
.experienceTitle{
    padding-top: 50px;
    text-align: center;
    color: lightskyblue;
}
.experience{
    padding-top: 20px;
    text-align: center;
}
.experienceDescription{
    max-width: 500px;
    margin:0 auto;
    text-align: justify;
}
/* Education */
.educationTitle{
    padding-top: 50px;
    text-align: center;
    color: lightskyblue;
}
.education{
    padding-top: 20px;
    text-align: center;
}
/* Work */
.workTitle{
    padding-top: 50px;
    text-align: center;
    color: lightskyblue;
}
.work{
    padding-top: 20px;
    justify-content: center;
    display: flex;
}
.workCard{
    width: 400px;
    margin-left: 20px;
    box-shadow: 0 0rem 0.5rem darkgrey!important;
}
.workLinks{
    height: 30px;
    padding-right: 20px;
    color: white
}
.workLinks:hover{
    color: darkgrey;
}